img {
  max-width: 400px;
  width: 100%;
}

.first-entry.home-info {
  min-height: 0;
}

.entry-header h1, .logo a {
  font-family: 'Merienda One', cursive;
  font-weight: 400;
}

.first-entry.home-info .entry-content {
  font-family: 'Gilda Display', serif;
  font-weight: bold;
  font-size: 20px;
}